<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

{{! main body of the display entries page
    which displays the author, goal and goalDetails }}
<body>
    <h1>{{title}}</h1>
    {{#entries}}
    <div>Author:&nbsp;	{{author}}</div>
        <div>Task:&nbsp;	{{goal}}</div>
        <div>Details:&nbsp;	{{goalDetail}}</div>
        
        {{! Link to the remove page based of the id on the page }}
        <div><a href="/remove/{{_id}}">Remove</a></div>
        <div><a href="/update/{{_id}}">Update</a></div>
        <hr>        
        {{/entries}}


</body>
</html>
{{! Button that directs you to the add a goal page }}
<button><a href="/new">Add a Fitness Goal</a></button>

