<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

{{! main body of the display entries page
    which displays the author, goal and goalDetails }}
<body>
    <h1>{{title}}</h1>
    {{#entries}}
    <div>{{author}}</div>
        <div>{{goal}}</div>
        <div>{{goalDetail}}</div>
        <button><a href="/delete">Remove Goal</a></button>
        <script>

        </script>
        <hr>        
        {{/entries}}


</body>
</html>
{{! Button that directs you to the add a goal page }}
<button><a href="/new">Add a Fitness Goal</a></button>

