<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

body {
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.header{
    font-size: 50px;
}

</style>
</head>

{{! main body of the display entries page
    which displays the author, goal and goalDetails }}
<body>
    
    <div class="header">
    {{title}}
    </div>
    

    
 <div class="text-left" style="margin-bottom: 1em;">
  <a id="home" href="/" class="btn btn-primary">
 Home
 </a>
  <a id="goalspage" href="/goalspage" class="btn btn-primary">
 Goals
 </a>
 {{^user}}
 <a id="login" href="/login" class="btn btn-primary">
 Sign in
 </a>
 <a id="register" href="/register" class="btn btn-primary">
 Register
 </a>
 {{/user}}
 {{#user}}
 <a class="text-right" id="logout" href="/logout" class="btn btn-primary">
 Sign out
 </a>
 {{/user}}
 </div>

    
    <table>
        <thead>
            <tr>
                <th><a href="/goalspage">All Goals</a></th>
                <th><a href="/finished">Finished Goals</a></th>
                <th><a href="/uncomplete">Uncomplete Goals</a></th>
            </tr>
        </thead>
    </table>

          
    <table>
        <tr>
            <th colspan="2">Name:&nbsp;</th>
            <th colspan="2">Goals:&nbsp;</th>
            <th colspan="2">Date:&nbsp;</th>  
            <th colspan="2">Duration:&nbsp;</th>  
            <th colspan="2">Completed:&nbsp;</th>  
            <th colspan="2">Published:&nbsp;</th>
            <th colspan="2">Edit:&nbsp;</th>
            <th colspan="2">Delete:&nbsp;</th>
        </tr>
    {{#entries}}
        <tr>
            <td colspan="2">{{name}}</td>
            <td colspan="2">{{goals}}</td> 
            <td colspan="2">{{date}}</td>    
            <td colspan="2">{{duration}}</td>
            <td colspan="2">{{completed}}</td>
            <td colspan="2">{{published}}</td>
            <td colspan="2"><a href="/update/{{_id}}"><button class="btn"><i class="fa fa-edit"></i></button></a></td>
            <td colspan="2"><a href="/remove/{{_id}}"><button class="btn"><i class="fa fa-close"></i></button></a></td>
        </tr>
            {{/entries}}
    </table>


<br>




</body>
</html>
{{! Button that directs you to the add a goal page }}
<button><a href="/new">Add a Fitness Goal</a></button>

