<!DOCTYPE html>
<html>
<head>
{{header}}
<style>
body {
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.header{
    font-size: 50px;
}
</style>
</head>
<body>

<div class="header">
  {{title}}
</div>

<ul>
  <li><a class="active" href="/goalspage">Goals</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/register">Login</a></li>
</ul>

<div class="text-right" style="margin-bo@om: 1em;">
 {{^user}}
 <a id="login" href="/login" class="btn btn-primary">
 Sign in
 </a>
 <a id="login" href="/register" class="btn btn-primary">
 Register
 </a>
 {{/user}}
 {{#user}}
 <a id="logout" href="/logout" class="btn btn-primary">
 Sign out
 </a>
 {{/user}}
 </div>
</body>
</html>