<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

{{! main body of the display entries page
    which displays the author, goal and goalDetails }}
<body>
        <h1>{{title}}</h1>
    
    <table>
        <thead>
            <tr>
                <th><a href="/">All Goals</a></th>
                <th><a href="/finished">Finished Goals</a></th>
                <th><a href="/uncomplete">Uncomplete Goals</a></th>
            </tr>
        </thead>
    </table>

          {{#entries}}
    <table>
    <thead>
        <tr>
            <th colspan="2">Name:&nbsp;</th>
            <th colspan="2">Goals:&nbsp;</th>
            <th colspan="2">Date:&nbsp;</th>  
            <th colspan="2">Duration:&nbsp;</th>  
            <th colspan="2">Completed:&nbsp;</th>  
            <th colspan="2">Published:&nbsp;</th>
            <th colspan="2">Edit:&nbsp;</th>
            <th colspan="2">Delete:&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{name}}</td>
            <td>{{goals}}</td> 
            <td>{{date}}</td>    
            <td>{{duration}}</td>
            <td>{{completed}}</td>
            <td>{{published}}</td>
            <td><a href="/remove/{{_id}}">Remove</a></td>
            <td><a href="/update/{{_id}}">Update</a></td>
        </tr>
    </tbody>
    </table>
    {{/entries}}

<br>




</body>
</html>
{{! Button that directs you to the add a goal page }}
<button><a href="/new">Add a Fitness Goal</a></button>

